bin
dependencies
dependencies/*
target/*
target
*_jsp.java
work
work/*
*.settings
*.class
*.txt
*.mymetadata
*.TXT
*.log
*.bak
*.classpath
.settings/*
.checkstyle
classes/
Thumbs.db
*.project
weblogic.xml
nbgl2Web/WEB-INF/lib/*
/.externalToolBuilders
.idea/*
*.iml
*.prefs 
*.*~
**/jspj/**
